# /etc/ssh/sshd_config
# Configuration file for SSH (server).

# Include /etc/ssh/sshd_config.d/*.conf configuration files.
Include /etc/ssh/sshd_config.d/*.conf

# Authentication settings.
PasswordAuthentication no
AuthenticationMethods publickey
ChallengeResponseAuthentication yes
UsePAM yes
PermitRootLogin no

# Logging settings.
LogLevel VERBOSE
Subsystem sftp /usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO

# Don't print MOTD.
PrintMotd no

# Allow client to pass locale environment variables.
AcceptEnv LANG LC_*
