# /etc/caddy/Caddyfile
# Configuration file for Caddy.

hakmad.com {
	root * /home/hakmad/website/.output

	file_server

	try_files {path}.html {path}

	redir / /index
}

www.hakmad.com {
	redir https://hakmad.com{uri}
}
