[Unit]
Description=Run password synchronisation on boot

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=sync-passwords.service

[Install]
WantedBy=timers.target
