[Unit]
Description=Run password synchronisation on boot and every 10 minutes afterwards

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=sync-passwords.service

[Install]
WantedBy=timers.target
